* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.roles {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#images{
    text-align: center;
}

.logo {
    display: block;
    width: 5%;
    height: 5%;
}


.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.iconName {
    text-align: center;
    margin-top: auto;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.row::after {  
    content: "";
    clear: both;
    display: table;
}